body { height: 100vh; }
/* Navbar */
.nav__container { display: flex; background-color: #FAFBFC; width: 100%; height: 50px; align-items: center;  justify-content: center; gap: 1rem; padding: 1rem; box-shadow: 0 1px 10px #CCCCCC; margin-bottom: 1rem; }
.nav__container a.nav__container_link { color: #68d981; text-decoration: none; }
.nav__container a.nav__container_link:hover { color: #3e4042;  }
.nav__container a.nav__container_link-disabled { color: #CCCCCC; }
.nav__container a.nav__container_link-disabled:hover { color: #CCCCCC; }
/*Header contenido tabla filtro-buscador*/
.header__table { display: flex; flex-direction: column; }
.header__table .btn.btn-primary { background-color: #68d981; border: 1px solid #68d981; color: #3e4042; font-weight: 600; }
.header__table .btn.btn-primary:hover { background-color: #FAFBFC; border: 1px solid #68d981; color: #68d981; }
.header__table_file_upload, .header__table_filter_data { margin-bottom: 0.5rem; }
/*Input ingreso de doc*/
#fileInput { text-overflow: ellipsis; white-space: nowrap; width: 100%; }
/*Tabla*/
.table__container { border: 1px solid #68d981;  }
.table__container th.table__header, .table__container td.table__header { background-color: #BABBBC; padding: 0.5rem; }
.table__container .table__row { padding: 0.5rem; }
.table-responsive { overflow: scroll scroll hidden; height: 250px; border: 1px solid #68d981; }
/*Paginator*/
.container__paginator { display: flex; width: 100%; height: 40px; align-items: center; font-size: 16px; justify-content: end; margin-top: 0.2rem; }
.container__paginator-btn { width: 35px; height: 35px; border-radius: 50%; border: 2px solid #68d981; display: flex; justify-content: center; align-items: center;  }
.container__paginator-pages { width: 35px; height: 35px; border-radius: 0.2rem; border: 2px solid #68d981; text-align: center; display: flex; align-items: center; justify-content: center; }
.container__paginator-btn, .container__paginator-pages { margin-left: 0.2rem; }
.container__paginator-btn a, .container__paginator-pages a { color: #3e4042; font-weight: 600; text-decoration: none; }
/*Footer*/
.footer__container { background-color: #68d981; width: 100%; height: 2rem; padding: 1.5rem; display: flex; justify-content: center; align-items: center; position: absolute; bottom: 0; }
.footer__container p.footer__container_text { color: #3e4042; margin-bottom: 0; }
/* Medias Queries */
@media ( min-width: 768px ) {
    .table__container { width: 100%; }
    .header__table { flex-direction: row; justify-content: space-between; }
}

